@import './base/_reset.scss';
@import './base/_typography.scss';
@import './components/_buttons.scss';
@import './components/_carousel.scss';
@import './components/_cover.scss';
@import './components/_dropdown.scss';
@import './layout/_navigation.scss';
@import './layout/_grid.scss';
@import './layout/_header.scss';
@import './layout/_footer.scss';
@import './layout/_sidebar.scss';
@import './layout/_forms.scss';
@import './pages/_home.scss';
@import './pages/_contact.scss';
@import './themes/_theme.scss';
@import './themes/_admin.scss';
@import './utils/_variables.scss';
@import './utils/_functions.scss';
@import './utils/_mixins.scss';
@import './utils/_helpers.scss';
@import './vendors/_bootstrap';
@import './vendors/_jquery-ui.scss';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-bg;
    color: $color-fonts;
    font-family: $font-family;
}

.content-wrap {

    max-width: 500px;
    text-align: center;

    form {
        > p {
            margin-top: $mp-20;
        }
    }

    .cases, .basicSplit {
        margin-block: $mp-5;
        display: flex;
        justify-content: space-evenly;
    }

    input {
        :first-child {
            margin-top: $mp-20;
        }
    }
}